# Gestionado por Ansible — no editar manualmente

server {
    listen {{ nginx_server_port }};
    server_name {{ nginx_server_name }};
    root {{ nginx_webroot }};
    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }

    # Logs por vhost
    access_log /var/log/nginx/{{ nginx_server_name }}_access.log;
    error_log  /var/log/nginx/{{ nginx_server_name }}_error.log;

{% if nginx_ssl_enabled %}
    # Redirigir HTTP a HTTPS
    return 301 https://$host$request_uri;
}

server {
    listen {{ nginx_ssl_port }} ssl;
    server_name {{ nginx_server_name }};
    root {{ nginx_webroot }};
    index index.html;

    ssl_certificate     {{ nginx_ssl_cert }};
    ssl_certificate_key {{ nginx_ssl_key }};
    ssl_protocols       TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;

    location / {
        try_files $uri $uri/ =404;
    }
{% endif %}
}
